#menu {
    width: 7rem
}
 
#menu a { 
    display: block;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#menu a:hover { 
    background-color: lightblue;
}

#menu a.active { 
    background: blue;
}